body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(54, 54, 54);
    color: lightgray;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-boxes,
.bottom-boxes {
    display: flex;
}

.top-boxes {
    height: 20%;
}

.top-box {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: rgb(78, 78, 78);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: clamp(10px, 1.5vh, 18px); /* Dynamically scale font size */
}

.bottom-boxes {
    height: 80%;
}

.left-box {
    width: 75%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(78, 78, 78);
}

.right-box {
    width: 24%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(78, 78, 78);
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(114, 114, 114);
    ;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.header_notification {
    background-color: rgb(58, 58, 58);
    color: white;
    padding: 4px;
    text-align: center;
    border-radius: 5px;
    font-size: 0.65em;
    position: absolute;
    top: 10px;
    right: 10px;
}

.content {
    padding: 10px;
    flex: 1;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 0 5px 0 5px;
    text-align: left;
}
th {
    text-align:center;
}

#overlay_menu {
    position: fixed;
    top: 10%;
    left: 20%;
    width: 60%;
    /* height: 80%; */
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

#overlay_menu_content_wrapper {
     width: 100%;
    /* height: 100%; */
    border-radius: 10px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    margin: 10px;
}

#overlay_menu_content {
    padding-bottom: 5%;
}

#mobileview_rotate {
    display: none;
}

.valueChange {
    transition: color 2s ease-out;
}

/* Media Queries for Smartphones */
@media (max-width: 768px) {
    .top-boxes {
        flex-direction: column;
        height: auto;
    }

    .top-box {
        height: auto;
        font-size: 0.73em;
    }

    .top-box  > .header {
        font-size: 1.5em;
    }

    .top-box  > .content {
        font-size: 1.2em;
    }

    /* .left-box > .header {
        font-size: 1.3em;
    } */

    .bottom-boxes {
        flex-direction: column;
        height: auto;
    }

    .left-box,
    .right-box {
        width: auto;
        height: auto;
    }

    /* .right-box {
        font-size: smaller;
    } */

    .right-box > .content{
        font-size: 1.2em;
    }

    #overlay_menu {
        top: 10%;
        left: 7.5%;
        width: 85%;
        height: auto;
    }
    #mobileview_rotate {
        display: block;
    }
}

@media (max-height: 768px) and (min-aspect-ratio: 1/1) {
    .top-boxes {
        display: none;
    }
    .bottom-boxes {
        height: 100%;
    }
    .left-box {
        width: 100%;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85%;
    }
    .right-box {
        display: none;
    }
    #mobileview_rotate {
        display: none;
    }
}


.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    font-size: calc(0.35em + 0.9vh);
}

.table-header, .table-body {
    display: table-row-group;
}

.table-row {
    display: table-row;
}

.table-header .table-cell {
    font-style: italic;
    text-align: center;
    padding-bottom: 0.5em;
}

.table-body .table-cell:first-child {
    font-family: 'Seven Segment', sans-serif;
    /* padding-right: 1em; */
}

.table-cell {
    display: table-cell;
    padding: 1px 5px;
    text-align: left;
    margin: 2px;
    /* border-radius: 20px; */
}

.table-cell.rounded {
    border-radius: 10px;
    overflow: hidden;
}

/* Hide the up/down arrows for number inputs on desktop */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}